<html>
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="../../public/reset.css" />
        <link rel="stylesheet" type="text/css" href="./styles.css" />
    </head>
    <body>
        <div class="container">
                <div class="item">
                    <p>AAAAAAA</p>
                </div>
                <div class="item">
                    <p>BBBBBBBBBBBB</p>
                </div>
                <div class="item">
                    <p>CCCCC</p>
                </div>
        </div>
    </body>
</html>